<header pageTitle="SetProducts" iconTitle="settings" helpTitle="Aboutuspagehelp"></header>
<mat-card>
    <mat-card-content>
        <div *ngIf="(toggleField=='serchMode') else (toggleField=='addMode')? showAddMode : ((toggleField=='editMode')? showEditMode : showResMode)">
            <!--search page here -->
            Search page 
        </div>
    </mat-card-content>
</mat-card>
<ng-template #showAddMode>
    <!--add page here -->
</ng-template>
<ng-template #showEditMode>
    <!--edit page here -->
</ng-template>
<ng-template #showResMode>
    <!--results page here -->
</ng-template>
